.root {
    -fx-white: #ffffff;
    -fx-black: #000000;
    -fx-dark-blue: #1f2937;
    -fx-dark-blue-hover: #16202b;
    -fx-dark-blue-pressed: #0f1720;
}

.layout-root {
    -fx-background-color: -fx-white;
}

.btn-primary {
    -fx-background-color: -fx-dark-blue;
    -fx-text-fill: -fx-white;

    -fx-padding: 14 22 14 22;
    -fx-font-size: 16px;
    -fx-font-weight: 700;

    -fx-border-color: -fx-dark-blue;
    -fx-border-width: 1;

    -fx-background-radius: 2;
    -fx-border-radius: 2;
}

.btn-primary:hover {
    -fx-background-color: -fx-dark-blue-hover;
    -fx-border-color: -fx-dark-blue-hover;
}

.btn-primary:pressed {
    -fx-background-color: -fx-dark-blue-pressed;
    -fx-border-color: -fx-dark-blue-pressed;
}

.btn-secondary {
    -fx-background-color: transparent;
    -fx-border-color: -fx-black;
    -fx-border-width: 1px;

    -fx-font-size: 14px;
    -fx-font-weight: 650;
}

.btn-secondary:hover {
    -fx-background-color: rgba(0, 0, 0, 0.04);
    -fx-border-color: -fx-black;
}

.btn-secondary:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.08);
    -fx-border-color: -fx-black;
}

.input-text {
    -fx-background-color: -fx-white;
    -fx-text-fill: -fx-black;

    -fx-border-color: -fx-black;
    -fx-border-width: 1;

    -fx-background-radius: 2;
    -fx-border-radius: 2;

    -fx-padding: 14 16 14 16;
}